In [33]:
import requests
import pandas as pd

In [ ]:
"""

"""

In [34]:
df = pd.read_csv('../app/data/api_test.csv')

In [35]:
df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked  Deck
0         0       3    0    4      0      0     0         2     8

In [36]:
result = df['Survived']

In [43]:
predict_dict = df.to_dict(orient="list")
for key in predict_dict.keys():
    predict_dict[key] = predict_dict[key][0]

{'Survived': 0, 'Pclass': 3, 'Sex': 0, 'Age': 4, 'SibSp': 0, 'Parch': 0, 'Fare': 0, 'Embarked': 2, 'Deck': 8}

In [92]:
url = 'http://127.0.0.1:8000/predict'
r = requests.post(url,json=predict_dict); r.json()

{'prediction': 0, 'survived': 0}