In [3]:
import requests
import pandas as pd

In [7]:
df = pd.read_csv('../data/api_test.csv')

In [10]:
df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked  Deck
0         0       3    0    4      0      0     0         2     8

In [13]:
result = df['Survived']
df = df.drop(['Survived'],axis=1)

In [14]:
predict_dict = df.to_dict()

{'Pclass': {0: 3},
 'Sex': {0: 0},
 'Age': {0: 4},
 'SibSp': {0: 0},
 'Parch': {0: 0},
 'Fare': {0: 0},
 'Embarked': {0: 2},
 'Deck': {0: 8}}

In [ ]:
url = 'http://127.0.0.1:8000/predict'
r = requests.post(url,json=predict_dict); r.json()